body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
}

/*-----------------------------------------------------------*/
/* Pantalla de carga */
#pantalla-carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Fondo negro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté por encima de todo */
}

#logo-latido {
    width: 350px;
    height: auto;
    animation: heartbeat 1s ease-in-out infinite;
}

/* Animación de latido */
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

/*-----------------------------------------------------------*/
/* Generales */
h1, h2, h3, h4 {
    color: #003366;
    font-family: 'Montserrat', sans-serif;
}

#inicio {
    background: url('../img/principal.png') no-repeat center center/cover;
    height: 100vh;
    color: #333333;
}

#inicio h1, #inicio p {
    color: inherit;
}

#inicio .btn {
    background-color: #003366;
    border: none;
    font-weight: 600;
}

/*-----------------------------------------------------------*/
/* Navbar */

.navbar {
    background-color: transparent !important; /* Mantiene el fondo transparente inicialmente */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: none;
    box-shadow: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición para suavizar el cambio */
}


/* Estado del navbar al desplazarse: fondo blanco */
.navbar-scrolled {
    background-color: white !important; /* Cambia el fondo a blanco */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una ligera sombra */
}

.navbar-brand img {
    max-height: 200px; /* Ajusta el tamaño del logo si es necesario */
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-nav .nav-link {
    color: #1b1a1a; /* Color de los enlaces */
    font-weight: 500;
    padding: 8px 15px;
}

.navbar-nav .nav-link:hover {
    color: #cccccc; /* Color más claro al pasar el mouse */
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28%23ffffff%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*-----------------------------------------------------------*/
/* Sección Nosotros */
#nosotros {
    background-color: #e9ecef; /* Fondo claro */
    padding: 60px 0;
}

#nosotros h2 {
    color: #007bff; /* Color azul */
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif; /* Asegura que use Montserrat */
}

#nosotros p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif; /* Asegura que use Montserrat */
}

/*-----------------------------------------------------------*/

/*Servicios*/

#servicios h2 {
    color: #007bff; /* Color azul */
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;

}

#servicios .card {
    border: none; /* Eliminar borde */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición para hover */
}

#servicios .card:hover {
    transform: translateY(-10px); /* Levanta la tarjeta en hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

#servicios .card-title, #servicios .card-text {
    font-family: 'Montserrat', sans-serif; /* Asegura que use Montserrat */
}

/* Inicialmente oculta las tarjetas de servicio */
.service-card {
    opacity: 0; /* Oculta las tarjetas */
    transform: translateY(20px); /* Mueve las tarjetas un poco hacia abajo para un mejor efecto */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Añade transición para el efecto de aparición */
}

/* Clase para mostrar las tarjetas */
.service-card.show {
    opacity: 1; /* Muestra las tarjetas */
    transform: translateY(0); /* Vuelve a su posición original */
}

/* Animación de entrada desde la izquierda */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%); /* Comienza desde la izquierda */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Termina en su posición original */
    }
}

.slide-in-left {
    animation: slideInLeft 1s ease forwards; /* Aplica la animación durante 1 segundo */
}

/* Desactivar transiciones en pantallas pequeñas */
@media (max-width: 768px) {
    .service-card {
        opacity: 1; /* Muestra las tarjetas sin transición */
        transform: none; /* Elimina transformaciones */
        transition: none; /* Elimina transiciones */
    }
}

/*-----------------------------------------------------------*/
/* Ícono flotante */
.icono-flotante {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.whatsapp-icon {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: grayscale(100%);
}

.whatsapp-icon:hover {
    transform: scale(1.15);
    filter: grayscale(0);
    animation: heartbeat 1.2s ease-in-out infinite;
}

/*-----------------------------------------------------------*/
/* Contacto */
#contacto {
    background-color: #f7f7f7; /* Fondo suave para diferenciar la sección */
    padding: 50px 0;
}

#contacto h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #003366;
    margin-bottom: 50px;
}

#contacto .form-label {
    font-weight: 600;
    color: #333;
}

#contacto .form-control {
    border-radius: 5px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#contacto .btn {
    background-color: #003366;
    border: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    display: block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#contacto .btn:hover {
    background-color: #002244; /* Color más oscuro al pasar el ratón */
}
#contacto p {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente */
    color: #333; /* Color del texto */
    margin-bottom: 10px; /* Espacio debajo del texto */
}





